.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-image-1 {
  height: 62px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 853px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 21px 329px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 21px 959px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 653px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 759px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 433px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 539px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 159px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1734px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-table-1 {
  width: 400px;
  height: 461px;
  margin: 20px 0 0;
}

.u-block-0f7c-102 {
  height: 46px;
}

.u-block-0f7c-127 {
  height: 46px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-table-2 {
  width: 400px;
  height: 461px;
  margin: 20px 0 60px;
}

.u-block-0f7c-38 {
  height: 46px;
}

.u-block-0f7c-63 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 951px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-gallery-1 {
  height: 343px;
  width: 100%;
  margin: 40px 0 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    height: 1372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-top: 268px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1475px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  height: 335px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-image-2 {
  height: 323px;
  margin: 30px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2365px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-1 {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-image-2 {
  height: 779px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px 0;
}

.u-section-5 .u-image-3 {
  min-height: 400px;
  background-image: url("images/hmmplot.png");
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-table-1 {
  width: 400px;
  margin: 0 auto 0 0;
}

.u-block-fa99-27 {
  height: 46px;
}

.u-section-5 .u-table-cell-5 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-table-cell-7 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-table-cell-9 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-table-cell-11 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-fa99-40 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2295px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-table-1 {
    width: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2218px;
  }

  .u-section-5 .u-image-3 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-table-1 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2390px;
  }

  .u-section-5 .u-image-3 {
    min-height: 325px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2270px;
  }

  .u-section-5 .u-image-3 {
    min-height: 205px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2118px;
}

.u-section-6 .u-text-1 {
  margin: 30px 488px 0 0;
}

.u-section-6 .u-image-1 {
  height: 412px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-image-2 {
  height: 312px;
  width: 512px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-image-3 {
  width: 570px;
  height: 381px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-image-4 {
  height: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2098px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-6 .u-image-2 {
    height: 207px;
    width: 340px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 227px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}